version: '3.8'

services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
      - "8222:8222"  # Web UI порт
    command: "-js -m 8222"  # Включаем JetStream и мониторинг
    volumes:
      - ./nats-data:/data  # Для сохранения данных